
body {
    background-image: linear-gradient(180deg, #000000 20%, #1d1a26) ;
    background-attachment: fixed;
    overflow-x: hidden;
    overflow-y: hidden;
    margin: 0 auto;
}

@import url('https://fonts.googleapis.com/css2?family=Protest+Guerrilla&display=swap');

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    opacity: 0;
    transform: translateX(-100px);
}

nav h1 {
    color: rgb(226, 147, 0);
    font-size: 40px;
    padding-left: 10px;
    cursor: pointer;
}
nav a {
    text-decoration: none;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    transition: .2s;
}
nav ul li { 
    display: inline-flex;
    align-items: center;
    padding-left: 50px;
    font-weight: bold;
}

form  {
    display: flex;
    font-weight: bolder;
    padding-right: 10px;
}

nav form p a{
    margin-left: 20px;
    padding-left: 10px;
    color: white;
}

nav a:hover {
    background-color: orange;
    padding: 10px;
    border-radius: 10px;
}

nav form a:hover {
    background-color: orange;
    color: rgb(77, 53, 3);
    padding: 10px;
    border-radius: 10px;
}
main {
    display: flex;
    transform: translateY(200px);
    opacity: 0;
}

main h1 {
    display: flex;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: orange;
    align-items: center;
    margin-left: 300px;
    font-size: 100px;
}

section input {
    display: block;
    margin-top: 290px;
    border-radius: 200px;
    border: 0;
    height: 50px;
    width: 300px;
    margin-left: -360px;
    text-shadow: 1px 1px 4px rgba(55, 53, 53, 0.57);
    box-shadow: 1px 1px 10px 2px orange;
    background-color: #1d1a26;
}
input::placeholder{
    color: rgb(54, 58, 80);
}

main img {
    display: flex;
    flex-grow: initial;
    padding-top: 30px;
    margin: 0px 700px 0px ;
}

input:focus {
    outline: hidden;
}

svg {
    position: relative;
    bottom: 49px;
    right: 110px;
    width: 40px;
    height: 100%;
    border: none;
    cursor: pointer;
}

#slide2 {
    animation-name:slide2;
    animation-duration: .20s;
    animation-fill-mode: forwards;
}


#animar {
    animation-name: slide;
    animation-duration: .20s;
    animation-fill-mode: forwards;
}

#slide3 {
    animation-name: slide3;
    animation-duration: .20s;
    animation-fill-mode: forwards;
}

footer {display: flex;
    transform: translateY(200px);
    opacity: 0;
    margin: 32vh 0px;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;

}

@keyframes slide {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide2 {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@keyframes slide3 {
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

@media (max-width:750px) {
    body {
        margin: 0 auto;
    }
    nav {
        display: block;
        margin: 10px auto;
    }
    
    .menu {
        display: flex;
        justify-content: space-around;
    }

    .menu h1 {
        display: flex;
        color: orange;
        text-shadow: 1px 2px 3px rgb(97, 68, 15);
        flex-flow: nowrap;
        margin-top: 0;
        justify-content: center;
    }

    .menu .img {
        margin: 20px 120px;
        width: 100px;
        height: 50px;
    }

    nav h1 {
        font-family: sans-serif;
    }

    nav .pesquisar {
        display: flex;
        width: 100%;
        font-weight: bold;
        background-color: orange;
        margin: 0px;
        padding: 10px;
        box-shadow: 0px 0px 10px 1px rgb(209, 157, 13);
        text-align: center;
    }

    .pesquisar li {
        margin: 4px 10px;
    }

    .form {
        opacity: 0;
    }

    .bv {
        margin: 0 auto 200px;
        color: orange
    }

    section {
        display:  block;
        position: relative;
        bottom: 180px;
    }


    .img {
        display: block;
        margin: 0 auto;
        position: relative;
        right: 300px;
        top: 8vh;
    }

    footer {
        text-align: center;
        margin: 100px auto;
        font-size: 16px;
    }
}